.banner-box {
    background-color: #fff;
    position: relative;
    margin: auto;
    width: 100%;
    top: 0;
}
.banner-img-box{
    height: 10.5em;
    overflow: hidden;
}
.banner{
    height: 100%;
}
.banner-img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.banner-inv-box{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.banner-inv{
    width: 8px;
height: 8px;
background: #FFFFFF;
opacity: 0.6;
border-radius: 50%;
background: #FFFFFF;
border-radius: 7px;
margin: 0 2px;
transition: background-color 0.6s ease;
}
.inv-active{
    opacity: 1;
    width: 15px;
}
.navbar-box {
    box-sizing: border-box;
    margin-top: 5%;
}

.nav-imgBox {
    width: 20%;
}

.nav-imgBox img {
    width: 73%;
    height: 73%;
}

.nav-text {
    margin-top: 3px;
    font-weight: 540;
    color: #6D6D6D;
    font-size: 12px;
    letter-spacing: .5px;
}

.navbar-box2 {
    margin-top: 4%;
}

.n2-left,
.n2-right {
    padding: 3% 2%;
    flex: 2;
    width: 100%;
    height: 100%;
    position: relative;
}
.n2-right {
    padding-left: 0;
}

.n2-r-inner {
    position: relative;
    padding: 2% 0;
    width: 100%;
}

.left-text {
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
    top: 39%;
    left: 6%;
    opacity: 0.9;
    text-align: left;
    word-wrap: break-word;
    word-break: keep-all;
}
.left-text2{
    top: 25%;
    left: 9%;
    padding-right:  9%;

}
.navbar-box2 img {
    vertical-align: bottom;
    width: 100%;
    flex-shrink: 0;

}
.case-box{
    margin-top: 5%;
    margin-bottom: 80px;

}
.case-t-box{
    padding: 0 0  0 1%;
    border-left: 2px solid  #2279F6;
    margin: 2% 0 5%;
}
.case-title{
font-size: 16px;
font-weight: bold;
color: #333333;
letter-spacing: 1px;
}
.more-title{
flex:2;
text-align: right;
font-size: 13px;
font-weight: bold;
color: #BEBEBE;
display: flex;
justify-content: flex-end;
}
.dir-img{
    width: 15px;
    height: 16px;
    vertical-align: middle;
    margin: 0 0 0 2%;

}
.case-c-box{
    margin-top: 2%;
}
.case-one{
    height: 158px;
    position: relative;
    margin-bottom: 20px;
}
.hot-title{
    background-image: url("../imgs/biaoqian.png");
    position: absolute;
    width: 90px;
    height: 25px;
    padding: 5px;
    text-align: center;
    font-size: 13px;
}
.case-left{
    flex: 3;
}
.case-img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.case-right{
    padding: 2%  0 0 3%;
    flex: 4;
    text-align: left;
    position: relative;
}
.r-title{
    font-size: 15px;
    letter-spacing: 1px;
font-weight: 550;
color: #333333;
}
.r-content{
    height: 80px;
    overflow: hidden;
    margin-top: 4%;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    color: #999999;
    text-align:justify;
}
.r-content::after{
    content: "...";
    color: #999999;
    position: absolute;
    left: 12px;
    margin-top: 8px;

}
.tag-box{
    position: absolute;
    bottom: 0;
    /* padding: 1%; */
}
.tag{
    margin-right:  5px;
    border-radius: 6px;
    padding: 2px;
    font-size: 12px;
    color: #FF4105;
    border: 1px solid #FFB595;
}
.tag-me{
    color: #2279f6;
border: 1px solid #2279F6;
border-radius: 6px;
}
.end{
font-size: 12px;
font-weight: 400;
color: #BEBEBE;
letter-spacing: 1px;
}
.detail-box{
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.detail-img{
    width: 100%;
}
.back{
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
}